{% extends 'manage/run/run_form.html' %}

{% block location %}Edit Run{% endblock %}
{% block sectionid %}edit-run{% endblock %}
{% block runid %}{{ run.id }}{% endblock %}
{% block formid %}run-edit-form{% endblock %}
{% block formtitle %}Edit "{{ run.name }}"{% endblock %}

{% block formtop %}
  {% if run.status == run.STATUS.draft %}
  {% url 'manage_narrow_environments' object_type='run' object_id=run.id as manage_env %}
  {% with from=request.get_full_path|urlencode %}
  {% with env_url=manage_env|add:"?from="|add:from %}
  {% include "manage/_select_env_link.html" with env_url=env_url %}
  {% endwith %}
  {% endwith %}
  {% endif %}
{% endblock %}
